
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  text-align: center;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


article {
  float: left;
  padding: 50px;
  width: 100%;
  background-color: #f1f1f1;
  height: 350px; 
  text-align: center;
}

a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:30%;
    
  }
  
  a:hover, a:active {
    background-color: black;
}
p {
    text-indent: 50px;
    text-align: justify;
  }
  
#hobbies {
    text-align: center;
    width: 20%;
}